* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1%;
  height: 50vh;
}

.current_time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
  padding: 2%;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  width: 49%;
}

.text,
.timeLocation {
  color: #6f7da6;
}

.title {
  color: #3d4970;
}

.text,
.title,
.timeLocation {
  font-size: 3rem;
  font-weight: 700;
}

.text.big,
.title.big,
.timeLocation.big {
  font-size: 6rem;
  font-weight: 700;
}

.timeLocation {
  margin-top: 2%;
}
